.floatingbox {
    position: fixed;
    top:   20px;
    right: 20px;
    width: 400px;
    height: 110px;
    background-color: #ff0000;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.floatingbox2 {
    position: fixed;
    top:   20px;
    left: 20px;
    width: 120px;
    height: 20px;
    background-color: #ff0000;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
